
Django
djangorestframework
django-cors-headers
python-dotenv
google-auth
Flask-Cors
Cors
marshmallow
marshmallow-sqlalchemy
Gunicorn
psycopg2-binary
PyMySQL
cryptography
moviepy
webvtt-py
pysrt
Pillow
pymysql
pytest 
pytest-django
djangorestframework-simplejwt